*{
					margin: 0;
					font-family: helvetica,sans-serif;
				}

				.anchoPantalla{
					width: 1024px;
					
					margin: auto;
				}

				#logo{
					width:150px; height:150px; position:absolute;left:0;top:0; background:white;
				}

				#wnav1{
					width:100%; height:60px; background:#EEF3F5; 
				}
				#wnav2{
					width:100%; height:50px; background:#C9D7DF
				}

				#footer{
					background:#304048; 
				}
				#principal{
					box-shadow:0 10px 20px #999; background:white; padding:40px 25px;width: 974px;overflow: hidden;
				}

				#nav{
					list-style: none; margin-left:126px; 
				}
				#nav li{
					float: left; border-right:1px solid #869ca7; margin-right: 13px;padding: 19px 30px 14px 10px; cursor:pointer;
				}

				#nav li a{
					text-decoration: none;
					color:#929597;
					font-size: 14px;
				}


				.col3{
					width: 310px;
					height: auto;
					border: 1px solid red;
					margin: 5px;
					float: left;;
				}

				.col1{
					border: 1px solid red;
					height: auto;
    				width: 950px;
    				margin: 10px;

				}

				.col2{
					border: 1px solid red;
					width: 470px; 
					height: auto;
					float: left;
					margin: 5px;

				}
				hr{
					width: 99.5%;
					margin: auto;
					margin: 20px auto;
				}

				#wprincipal{
					overflow: hidden;
				}
				#wprincipal{
				position:absolute;left:50%; margin-left:-512px; overflow: visible;
				}