*{
					margin: 0;
					font-family: helvetica,sans-serif;
				}

				.anchoPantalla{
					width: 1024px;
					
					margin: auto;
				}

				#logo{
					width:150px; height:150px; position:absolute;left:0;top:0; background:white;
				}

				#wnav1{
					width:100%; height:60px; background:#EEF3F5; 
				}
				#wnav2{
					width:100%; height:50px; background:#C9D7DF
				}

				#footer{
					background:#304048; 
				}
				#principal{
					box-shadow:0 10px 20px #999; background:white; padding:40px 25px;width: 974px;overflow: hidden;
				}

				#nav{
					list-style: none; margin-left:126px; 
				}
				#nav li{
					float: left; border-right:1px solid #869ca7; padding: 19px 30px 14px 20px; cursor:pointer;
				}

				#nav li:hover{
					background: white; border-top: 1px solid #869ca7;border-bottom:0;
				}

				#nav .current{
					background: white; border: 1px solid #869ca7;border-bottom:0;color:#999;
				}



				#nav li a{
					text-decoration: none;
					color:#929597;
					font-size: 14px;
				}


				.col3{
					width: 310px;
					height: auto;
					border: 1px solid red;
					margin: 5px;
					float: left;;
				}

				.col1{
					border: 0px solid red;
					height: auto;
    				width: 950px;
    				margin: 10px;

				}

				.col2{
					border: 0px solid red;
					width: 470px; 
					height: auto;
					float: left;
					margin: 5px;

				}
				hr{
					width: 99.5%;
					margin: auto;
					margin: 20px auto;
					border: 0;
					border-top: 2px solid #efefef
				}

				#wprincipal{
					overflow: hidden;
				}
				#wprincipal{
				position:absolute;left:50%; margin-left:-512px; overflow: visible;
				}

				.botonImg{
					cursor:pointer;
					background-position: top !important;
				}
				.botonImg:hover{
					background-position: bottom !important;
				}

				#beneficiosNav{
					position: absolute; 
					background: none repeat scroll 0% 0% white; 
					left: 522px; 
					width: 268px; 
					top: 50px; 
					height: auto;
					z-index: 10000;
					border: 1px solid #869CA7;
					border-top:0;
					padding: 0;
					display:none;

				}
				#beneficiosNav ul{
					list-style: none;
					margin: 0 !important;
				}
				#beneficiosNav ul li{
					  border-bottom: 1px solid #869CA7;
    				  margin-left: -25px !important;
    				  padding: 13px 18px;
    				  width: 90%;
					  color:#869ca7;
					  cursor:pointer;
					  font-size: 12px;
				}




				#beneficiosNav ul li a{
				color:#869ca7;
				text-decoration: none;
				}

				#beneficiosNav ul li a:hover{
					text-decoration: underline;
				}




